{% extends 'galaxy_operator/template.html' %}
{% block tittle %}Welcome{% endblock %}
{% block WindowTittle %} Register a New Package {% endblock %}
{% block innerContent %}


    {% load widget_tweaks %}

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-user fa-fw"></i> Who's Sending this Package?
                </div>
                <div class="panel-body">
                    {% if client %}
                        <div class="form-group">
                            <label>{{ client.name }}</label>
                            <p class="form-control-static">{{ client.address }}</p>
                            <p class="form-control-static">{{ client.city }}, {{ client.state }}</p>
                            <p class="form-control-static">{{ client.country }}</p>
                            <p class="form-control-static">{{ client.zip }}</p>
                            <p class="form-control-static">{{ client.email }}</p>
                            <p class="form-control-static">{{ client.telephone }}</p>
                        </div>
                    {% else %}
                    <form role="form" id="gls-form-register-client-email" method="post" action="{% url 'operator:register' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="email" class="form-control" name="clientEmail" placeholder="example@domain.com" />
                        <p class="help-block">Check if the client is previusly registered</p>
                        <input type="submit" class="btn btn-default" value="Check" />
                    </div>
                    </form>
                    {%  endif %}
                </div>
            </div>
        </div>


        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-user fa-fw"></i> Who's Recieveing this Package?
                </div>
                <div class="panel-body">
                    <form role="form" id="gls-form-reciever-email">
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="email" class="form-control" name="reciever-email" placeholder="example@domain.com" />
                        <p class="help-block">Check if the reciever is previusly registered</p>
                        <input type="submit" class="btn btn-default" value="Check" />
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="-align-center">
        <div class="col-lg-10 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-envelope-o fa-fw"></i> What are the Package Details?
                </div>
                <div class="panel-body">
                    {% for field in package %}
                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            {{ field|add_class:'form-control' }}
                            <p class="help-block">{{ field.help_text }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% load staticfiles %}
    <script src="{% static 'galaxy_operator/jquery.validate.js' %}"></script>
    <script src="{% static 'galaxy_operator/registerValidation.js' %}"></script>
{% endblock %}